div[data-testid="tweet"]+div a[dir="auto"]:not([aria-label]),
[data-testid="reply"] > div > div:nth-child(2),
[data-testid="retweet"] > div > div:nth-child(2),
[data-testid="unretweet"] > div > div:nth-child(2),
[data-testid="like"] > div > div:nth-child(2),
[data-testid="unlike"] > div > div:nth-child(2),
[data-testid="bookmark"] span,
a[href$="/following"],
a[href$="/followers"],
a[href$="/verified_followers"],
a[href$="/retweets"],
a[href$="/likes"],
a[href$="/analytics"] span,
:not([aria-modal="true"]) [data-testid="UserCell"]
{
    display: none;
}

[aria-modal="true"] [data-testid="UserCell"],
[role="group"] [data-testid="UserCell"]
{
    display: block;
}

.reply-count,
.retweet-count,
.like-count,
.prf-stats{
    display: none;
}
