div[data-testid="tweet"]+div a[dir="auto"]:not([aria-label]),
div[data-testid="reply"] span,
div[data-testid="retweet"] span,
div[data-testid="unretweet"] span,
div[data-testid="like"] span,
div[data-testid="unlike"] span,
a[href$="/following"],
a[href$="/followers"],
a[href$="/retweets"],
a[href$="/likes"],
:not([aria-modal="true"]) [data-testid="UserCell"]
{
    display: none;
}

[aria-modal="true"] [data-testid="UserCell"]
{
    display: block;
}

.reply-count,
.retweet-count,
.like-count,
.prf-stats{
    display: none;
}
